body{
  min-width: 800px;
}
.researchBlock{
  border-bottom: 2px solid black;
}
.sideList{
  width:50%;
  min-width:200px;
}
.footer{
  padding: 20px;
  height: 220px;
}
.footer .icon:hover{
  background-color: #fff;
}

.bgCol{
  background-color:#272727;
}
.bgInverse{
  background-color:#fff;
}
.csulb{
  background-color:#272727;
  height:30px;
}
